@import '../../global-sass/mixins.scss';
@import '../../global-sass/variables.scss';
@import '../../global-sass/animations.scss';

.all-cards {
    min-height: 100vh;
    background-size: cover;
    padding-bottom: 50px;

    & a.button {
        position: absolute;
        right: 6%;
        top: 5vh;
        z-index: 10;
        animation: fadeIn 1.5s ease;
        box-shadow: 2px 2px 5px rgba(0,0,0,.5);

        @include responsive(lg) {
            position: initial;
            margin-top: 30px;
        }
    }

    h1 {
        font-size: 3.2rem;

        @include responsive_min(xxl) {
            font-size: 4.05rem;
        }
    }

    .cards-col.col-12 {
        margin-left: 25px;
    }

    .card {
        width: 160px;
        height: 250px;
        cursor: pointer;
        transition: all .2s;
        margin-left: -50px;

        &:hover {
            transform: scale(1.15);
            z-index: 10;
        }

        @include responsive_min(xxl) {
            width: 180px;
            height: 273px;
        }

        .player-card-top {

            .player-master-info {
                line-height: .5rem;
                top: -20px;
                padding: 0;
                animation: fadeIn .7s linear;

                @include responsive_min(xxl) {
                    top: -17px;
                }

                .player-rating {
                    font-size: 1.4rem;
                }
                .player-position  {
                    font-size: .55rem;
                    margin-top: 10px;
                }
            }

            .player-picture {
                width: 100%;
                height: auto;
                animation: fadeIn .5s linear;

                img {
                    height: 85px;
                    position: initial;

                    @include responsive_min(xxl) {
                        height: 90px;
                    }
                }
            }
        }

        .player-card-bottom {
            animation: fadeIn .7s linear;

            .player-info {
                padding: 0;

                .player-name {
                    font-size:.85rem;
                    padding-bottom: .17rem;

                    @include responsive_min(xxl) {
                        margin-top: 0;
                        font-size: .95rem;
                    }

                    & > span {
                        line-height: 15px;

                        @include responsive_min(xxl) {
                            line-height: initial;
                        }
                    }
                }
                .player-features {
                    margin: 0 auto;
                    padding-top: .2rem;
                    width: 80%;
                    border-top: 1.5px solid rgba($gold, 0.1);

                    &::after {
                        width: 1.5px;
                        top: .4rem;
                    }

                    div.skills-container {
                        font-size: .6rem;

                        @include responsive_min(xxl) {
                            font-size: .72rem;
                        }
                    }
                }
            }
        }
    }
}